@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    
}

.nav-link{
    text-decoration: none;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}
.text-gray{
    color: #424244;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgb(255, 144, 14, 0.1);
}

.navbar, .banner{
    max-width: 1080px;
    margin: 0 auto;
}


.brand{
    font-weight: 700;
    font-size: 2rem;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}

.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 15px 18px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.banner-img{
    width: 100%;
    margin-bottom: 20px;
}


main{
    max-width: 1080px;
    margin: 0 auto;
}

.teams{
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    
}
.our-features{
    margin-left: 40px;
    max-width: 500px;
}

main > section{
    margin-top: 80px;
}

.feature-title{
    font-size: 2rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}

.text-primary{
    color: rgb(255, 144, 14);
}

.feature-description{
    margin-bottom: 30px;
}


.section-title{
    font-size: 2rem;
    font-weight: 700;
}


@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }

    .team-img-container{
    grid-template-columns: repeat(1,1fr);
    /* height: auto; */
    /* gap: 20px; */
    
}

.teams{
    flex-direction: column;
}

.our-features{
    margin-left: 20px;
    
}
    
}


@media screen and (min-width:577px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
    margin-left: 30px auto;
    
}
}

